<h1>Confirmed!</h1>
<br>
<h3>Jet: <%= @booking.plane.name %></h3>
<br>
<div>Number of people: <%= @booking.plane.capacity %></div>
<br>
<div>Price: £<%= @booking.plane.price %></div>
<br>
<%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-primary btn-lg" %>








