
<h3>Jet: <%= @booking.plane.name %></h3>
<br>
<h3>Useful Information for Your Booking</h3>
<br>
<div>Number of people: <%= @booking.plane.capacity %></div>
<br>
<div>Price: £<%= @booking.plane.price %></div>
<br>
<div>Date: </div>
<br>
<div>Time: </div>
<br>
<%= link_to "Homepage", root_path, class: "btn btn-primary btn-lg" %>
