<div class="banner-1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wearefinn.com/media/2008/legacy-500-corporate-jet-overview.jpg);">
  <div class="d-flex flex-column align-items-center justify-content-center w-100">
    <div class="w-100 d-flex align-items-center justify-content-center flex-column">
      <h1 class="title-home">Discover the world.</h1>
      <h2 class="title-home">Fly on demand,<p id="now-text"> now.</p></h2>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <%= link_to "Browse Private Jets", planes_path , class: "btn btn-primary mr-2 buttons-home"%>
      <%= link_to "List Your Jet", new_plane_path , class: "btn btn-primary buttons-home"%>
    </div>
  </div>
</div>
