<div class="homepage-container">
  <div>
    <h1 class="title-home">The Best Private Jets</h1>
    <div class="buttons-home">
      <%= link_to "Browse Private Jets", planes_path , class: "btn btn-primary"  %>
      <%= link_to "List Your Jet", new_plane_path , class: "btn btn-primary"  %>
    </div>
  </div>
</div>
