<h1>Jet Hire</h1>

<div class="container flex">

  <%= link_to "Browse Private Planes", planes_path , class: "btn btn-primary"  %>
<%= link_to "List Your Plane", new_plane_path , class: "btn btn-primary"  %>

</div>
