<div class="homepage-container">

  <div>
    <h1 class="title-home">The Best Private Jets</h1>

    <%= link_to "Browse Private Planes", planes_path , class: "btn btn-primary"  %>
    <%= link_to "List Your Plane", new_plane_path , class: "btn btn-primary"  %>

  </div>

</div>
