<!-- <div class="body" style="background-image: url(https://images.unsplash.com/photo-1450005601738-ad61825d7281?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);"> -->
  <div class="banner-1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wearefinn.com/media/2008/legacy-500-corporate-jet-overview.jpg);">
    <div class="d-flex flex-column align-items-center justify-content-center w-100">
      <div class="w-100 d-flex align-items-center justify-content-center flex-column">
        <h1 class="title-home">Discover the world.</h1>
        <h2 class="title-home">Fly on demand<p id="now-text"> now.</p></h2>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <%= link_to "Browse Private Jets", planes_path , class: "btn btn-primary mr-2 buttons-home"%>
        <%= link_to "List Your Jet", new_plane_path , class: "btn btn-primary buttons-home"%>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class= "footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>

    <div class="footer-copyright">
      <div class= "footer-links">
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fas fa-phone"></i></a>
        <p>Contact us : +447123456789</p>
      </div>
    </div>
  </div>
